<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LoadCentral Admin</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <span class="navbar-item has-text-weight-bold is-uppercase">
        LoadCentral Admin
    </span>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a href="/logout" class="button is-danger is-pulled-right is-small">
              <span class="icon is-small">
                <i class="fas fa-sign-out-alt"></i>
              </span>
              <span>Logout</span>
            </a>
        </div>
      </div>
    </div>
  </div>
</nav>
  <section class="section">
    <div class="container">
        <div class="columns is-mobile">
        <div class="column is-half">
        <p class="title">Welcome!</p>
        <p class="subtitle">You can send mobile load using the form below:</p>
        <hr>
        <form method="POST" id="loadcentral_form">
          <div id="loadcentral_form_fields">
          <div class="field is-horizontal" id="loadcentral_form_clone">
            <div class="field-label is-normal">
              <label class="label">Recipient</label>
            </div>
            <div class="field-body">
              <div class="field">
                <p class="control has-icons-left">
                  <input class="input" type="text" placeholder="Mobile number" name="phone_number[]">
                  <span class="icon is-small is-left">
                    <i class="fas fa-mobile"></i>
                  </span>
                </p>
              </div>
              <div class="field is-narrow">
                <div class="control">
                  <div class="select is-fullwidth">
                    <select name="pcode[]">
                        <option value="GMX100">Globe 100</option>
                        <option value="SM100">Smart 100</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>

          <br>
          <div class="field is-horizontal">
            <div class="field-label">
              <!-- Left empty for spacing -->
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <a class="button is-info is-small" id="add_item" href="#">
                      <span class="icon is-small">
                        <i class="fas fa-plus"></i>
                      </span>
                      <span>Add recipient</span>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="field is-horizontal">
            <div class="field-label">
              <!-- Left empty for spacing -->
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <span class="is-size-7 is-italic">REMINDER: Double-check request before submitting.</span>
                </div>
              </div>
            </div>
          </div>

          <div class="field is-horizontal">
            <div class="field-label">
              <!-- Left empty for spacing -->
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <button class="button is-success is-medium">
                    Submit
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>

        </div>
        </div>
    </div>
  </section>

  <section>
    <div class="container">
        <div class="columns is-mobile">
        <div class="column is-half">
    <div class="content">
          {{ if .error }}
            <h4>Error:</h4>
            <p>{{ .error }}</p>
          {{ end }}
          {{ if .result }}
            <h4>Result:</h4>
            {{ range $r := .result }}
            {{ if eq $r.Err "0"}}
            <p class="has-text-success">
              <i class="fas fa-check-circle"></i>
              {{ $r.Pcode }} load successfully sent to "{{ $r.PhoneNumber }}"
              <br><span class="is-size-7 is-italic">Bal: {{ $r.Bal }} RRN: {{ $r.RRN }}</span>
            </p>
            {{ else }}
            <p class="has-text-danger">
              <i class="fas fa-times-circle"></i>
              Failed sending {{ $r.Pcode }} load to "{{ $r.PhoneNumber }}":
              <span class="has-text-weight-bold">{{ $r.Err }}</span>
              <br><span class="is-size-7 is-italic">Bal: {{ $r.Bal }} RRN: {{ $r.RRN }}</span>
            </p>
            {{ end }}
            {{ end }}
          {{ end }}
        </div>
    </div>
    </div>
    </div>
  </section>

  <script>
  window.onload = function() {
      function add_item(e) {
          var elem = document.getElementById('loadcentral_form_clone');
          var clone = elem.cloneNode(true);
          clone.removeAttribute("id");
          document.getElementById('loadcentral_form_fields').appendChild(clone);

          // Reset added item.
          var form = document.getElementById('loadcentral_form');
          var input_phone_number = form.elements['phone_number[]'];
          input_phone_number[input_phone_number.length-1].value = '';
          e.preventDefault();
    }
    document.getElementById("add_item").addEventListener("click", add_item, false);
  }
  </script>
  </body>
</html>
